@model ProductViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>
        Day is @Model.Days
    </h2>
    <h3>Stock Menu</h3>
    <br />
    <form class="form-group" asp-action="Index" asp-controller="Home" method="post">
        <label>Product Name</label>
        <div class="form-inline">
            <input asp-for="SearchProductName" type="text" class="form-control col-md-3 mb-2" autocomplete="off" />
            <button type="submit" class="btn btn-success col-md-2 mx-sm-2 mb-2">Search</button>
        </div>
        <span class="text-danger" asp-validation-for="SearchProductName"></span>
    </form>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product Name</th>
                <th scope="col">Price (Baht)</th>
                <th scope="col">Expired Date</th>
            </tr>
        </thead>
        <tbody>

            @for (int i = 0; i < Model.ProductModelList.Count; i++)
            {
            <tr>
                <td>@(i+1)</td>
                <td>@Model.ProductModelList[i].ProductName</td>
                <td>@Model.ProductModelList[i].Price.ToString("F")</td>
                <td>@Model.ProductModelList[i].ExpDate.ToString("dd MMMM yyyy")</td>
            </tr>
            }

        </tbody>
    </table>

    <br />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product Name</th>
                <th scope="col">Price (Baht)</th>
                <th scope="col">Expired Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ProductModelList)
            {
            <tr>
                <td>@item.Idp</td>
                <td>@item.ProductName</td>
                <td>@item.Price.ToString("F")</td>
                <td>@item.ExpDate.ToString("dd MMMM yyyy")</td>
            </tr>
            }
        </tbody>
    </table>
</div>
